<!DOCTYPE html>
<html ng-app="application">
	<head>
		<title>django-angular-token-auth</title>
	</head>

	<body>
		<div class="ng-view"></div>

		<script type="text/javascript" src="/static/bower_components/angular/angular.js"></script>

		<script type="text/javascript" src="/static/javascripts/app.js"></script>

		<script type="text/javascript" src="/static/javascripts/auth/auth.module.js"></script>
		<script type="text/javascript" src="/static/javascripts/auth/controllers/login.controller.js"></script>
		<script type="text/javascript" src="/static/javascripts/auth/interceptors/auth.interceptor.js"></script>
		<script type="text/javascript" src="/static/javascripts/auth/services/auth.service.js"></script>
		<script type="text/javascript" src="/static/javascripts/auth/services/users.service.js"></script>

		<script type="text/javascript" src="/static/javascripts/static/static.module.js"></script>
		<script type="text/javascript" src="/static/javascripts/static/controllers/index.controller.js"></script>
	</body>
</html>
